<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
    xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单管理')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="post-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                订单编号：<input type="text" name="orderNo"/>
                            </li>
                            <li>
                                客户姓名：<input type="text" name="customerName"/>
                            </li>
                            <li>
                                客户电话：<input type="text" name="customerPhone"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="txs:order:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="txs:order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="txs:order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="txs:order:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('txs:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('txs:order:remove')}]];
        var payments = [[${@dict.getType('sys_user_payment')}]];
        var whethers = [[${@dict.getType('sys_yes_no')}]];
        var prefix = ctx + "txs/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                striped: true,
                sortName: "id",
                uniqueId: "id",
                modalName: "订单",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'orderNo',
                    title: '订单编号'
                },
                {
                    field: 'customerName',
                    title: '客户姓名',
                    align: 'center'
                },
                {
                    field: 'customerPhone',
                    title: '客户电话',
                    align: 'center'
                },
                {
                    field: 'payTime',
                    title: '付款日期',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return value.slice(0, 10);
                    }
                },
                {
                    field: 'payType',
                    title: '支付方式',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(payments, value);
                    }
                },
                {
                    field: 'payeeName',
                    title: '收款人',
                    align: 'center'
                },
                {
                    field: 'setMealName',
                    title: '套餐',
                    align: 'center'
                },
                {
                    field: 'photographTime',
                    title: '拍摄时间',
                    align: 'center',
                    formatter: function(value, row, index) {
                        if (!value) {
                            return "-";
                        }
                        return value.slice(0, 10);
                    }
                },
                {
                    field: 'choosePhoto',
                    title: '是否选片',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(whethers, value);
                    }
                },
                {
                    field: 'receiveFinishedProduct',
                    title: '是否领取成品',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(whethers, value);
                    }
                },
                {
                    field: 'remark',
                    title: '备注'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>