<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改客户')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-post-edit" th:object="${customer}">
            <input id="id" name="id" type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">姓名：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="fullName" id="fullName" th:field="*{fullName}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">电话：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" th:field="*{phoneNumber}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_user_sex')}">
                        <input type="radio" th:id="${dict.dictCode}" name="sex" th:value="${dict.dictValue}" th:field="*{sex}">
                        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea id="remark" name="remark" class="form-control">[[*{remark}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "txs/customer";

        $("#form-post-edit").validate({
            onkeyup: false,
            rules:{
                phoneNumber:{
                    remote: {
                        url: ctx + "system/customer/checkPhomeUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "id": function() {
                                return $("input[name='id']").val();
                            },
                            "phoneNumber" : function() {
                                return $.common.trim($("#phoneNumber").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                }
            },
            messages: {
                "phoneNumber": {
                    remote: "客户电话已存在!"
                }
            },
            focusCleanup: true
        });
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-post-edit').serialize());
            }
        }
    </script>
</body>
</html>
