<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('首页')" />
</head>

<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="btn-group-sm" id="toolbar">
                <a class="btn btn-success countTag" href="javascript:void(0);" id="photograph">
                    <span class="badge" id="photographSpan">0</span>&nbsp;未拍摄
                </a>
                <a class="btn btn-primary countTag" href="javascript:void(0);" id="choose">
                    <span class="badge" id="chooseSpan">0</span> 未选片
                </a>
                <a class="btn btn-warning countTag" href="javascript:void(0);" id="finished">
                    <span class="badge" id="finishedSpan">0</span> 未领取成品
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var payments = [[${@dict.getType('sys_user_payment')}]];
        var whethers = [[${@dict.getType('sys_yes_no')}]];
        $(function(){
        	console.log([[${isMobile}]]);
            var options = {
                    url: "/txs/index/photograph",
                    striped: true,
                    columns: [{
                        field: 'orderNo',
                        title: '订单编号'
                    },
                    {
                        field: 'customerName',
                        title: '客户姓名',
                        align: 'center'
                    },
                    {
                        field: 'customerPhone',
                        title: '客户电话',
                        align: 'center'
                    },
                    {
                        field: 'payTime',
                        title: '付款日期',
                        sortable: true,
                        formatter: function(value, row, index) {
                            return value.slice(0, 10);
                        }
                    },
                    {
                        field: 'payType',
                        title: '支付方式',
                        align: 'center',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(payments, value);
                        }
                    },
                    {
                        field: 'payeeName',
                        title: '收款人',
                        align: 'center'
                    },
                    {
                        field: 'setMealName',
                        title: '套餐',
                        align: 'center'
                    },
                    {
                        field: 'photographTime',
                        title: '拍摄时间',
                        align: 'center',
                        formatter: function(value, row, index) {
                            if (!value) {
                                return "-";
                            }
                            return value.slice(0, 10);
                        }
                    },
                    {
                        field: 'choosePhoto',
                        title: '是否选片',
                        align: 'center',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(whethers, value);
                        }
                    },
                    {
                        field: 'receiveFinishedProduct',
                        title: '是否领取成品',
                        align: 'center',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(whethers, value);
                        }
                    },
                    {
                        field: 'remark',
                        title: '备注'
                    }],
                    onPostBody: function(){
                        $.get("/txs/index/count",function(data, status){
                            $("#photographSpan").text(data.photograph);
                            $("#chooseSpan").text(data.choose);
                            $("#finishedSpan").text(data.finished);
                        })
                    }
                };
            $.table.init(options);
            $("a.countTag").click(function(){
                var tag = $(this).attr("id");
                $.table.destroy();
                options["url"] = "/txs/index/" + tag;
                $.table.init(options);
            });
        });
    </script>
</body>
</html>
