<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.txs.mapper.OrderDao">
    <sql id="colums">
        id, orderNo, customerId, payTime, payType, payeeName, setMealId, 
        photographTime, choosePhoto, laterConsumption, receiveFinishedProduct,
        payAmount, remark, createBy, createTime, updateBy, updateTime, deleted
    </sql>
    <select id="selectList" parameterType="TxsOrder" resultType="TxsOrder">
        SELECT o.* FROM txs_order AS o
        <if test="(customerName != null and customerName != '') or (customerPhone != null and customerPhone != '')">
            RIGHT JOIN txs_customer AS c on o.customerId = c.id
        </if>
        <where>
            <if test="id != null and id != 0">
                AND o.id = #{id}
            </if>
            <if test="customerId != null and customerId != 0">
                AND o.customerId = #{customerId}
            </if>
            <if test="payeeName != null and payeeName != 0">
                AND o.`payeeName`like CONCAT('%', #{payeeName}, '%')
            </if>
            <if test="setMealId != null and setMealId != 0">
                AND o.setMealId = #{setMealId}
            </if>
            <if test="orderNo != null and orderNo != ''">
                AND o.`orderNo`like CONCAT('%', #{orderNo}, '%')
            </if>
            <if test="choosePhoto != null and choosePhoto != 0">
                AND o.`choosePhoto` = #{choosePhoto}
            </if>
            <if test="receiveFinishedProduct != null and receiveFinishedProduct != 0">
                AND o.`receiveFinishedProduct` = #{receiveFinishedProduct}
            </if>
            <if test="customerName != null and customerName != ''">
                AND c.`fullName`like CONCAT('%', #{customerName}, '%')
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND c.`phoneNumber`like CONCAT('%', #{customerPhone}, '%')
            </if>
            <if test="setMealIdList != null and setMealIdList.size() > 0">
                AND o.setMealId IN
                <foreach collection="setMealIdList" item="id" open="(" separator="," close=")">#{id}</foreach>
            </if>
            <!-- 开始时间检索 -->
            <if test="params.beginTime != null and params.beginTime != ''">
                AND date_format(o.payTime,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <!-- 结束时间检索 -->
            <if test="params.endTime != null and params.endTime != ''">
                AND date_format(o.payTime,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            AND O.deleted = 2
        </where>
    </select>
    <select id="selectById" parameterType="Long" resultType="TxsOrder">
        SELECT <include refid="colums"/> FROM txs_order WHERE id = #{id}
    </select>
    <update id="update" parameterType="TxsOrder">
        UPDATE txs_order
        <set>
            <if test="customerId != null and customerId != 0">customerId = #{customerId},</if>
            <if test="payTime != null">payTime = #{payTime},</if>
            <if test="payeeName != null and payeeName != ''">payeeName = #{payeeName},</if>
            <if test="payType != null">payType = #{payType},</if>
            <if test="setMealId != null and setMealId != 0">setMealId = #{setMealId},</if>
            <if test="laterConsumption != null and laterConsumption != ''">laterConsumption = #{laterConsumption},</if>
            <if test="choosePhoto != null">choosePhoto = #{choosePhoto},</if>
            <if test="photographTime != null">photographTime = #{photographTime},</if>
            <if test="payAmount != null">payAmount = #{payAmount},</if>
            <if test="receiveFinishedProduct != null and receiveFinishedProduct != ''">receiveFinishedProduct = #{receiveFinishedProduct},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">updateBy = #{updateBy},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>
    <insert id="insert" parameterType="TxsOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO txs_order(<include refid="colums"/>)values(
            #{id}, #{orderNo}, #{customerId}, #{payTime}, #{payType},
            #{payeeName}, #{setMealId}, #{photographTime}, #{choosePhoto},
            #{laterConsumption}, #{receiveFinishedProduct}, #{payAmount},
            #{remark}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, 2
        )
    </insert>
    <select id="countToday" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM txs_order WHERE `orderNo`like CONCAT( #{date}, '_%')
    </select>
    <select id="queryNotPhotograph" parameterType="TxsOrder" resultType="TxsOrder">
        SELECT <include refid="colums"/> FROM txs_order 
        WHERE (photographTime &gt; now() OR photographTime IS NULL)
        AND `deleted` = 2
        ORDER BY photographTime ASC
    </select>
    <select id="queryNotChoosePhoto" parameterType="TxsOrder" resultType="TxsOrder">
        SELECT <include refid="colums"/> FROM txs_order 
        WHERE photographTime IS NOT NULL
        AND photographTime &lt; now()
        AND choosePhoto = '2'
        AND `deleted` = 2
        ORDER BY photographTime ASC
    </select>
    <update id="deleteByIds" parameterType="Long">
        UPDATE txs_order
        SET `deleted` = 1
        WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach> 
    </update>
</mapper> 